<% allprods = Product.includes(:user).all %>
<ul>
  <% allprods.each do |p| %>
      <li>
       Name: "<%= p.name %>"" costs $<%= p.price %>
        Sold by <%= p.user.name %>
      </li>
  <% end%>

</ul>