<h4>There are <%= Product.count %> things in the databrays</h4>


<% fp = Product.first %>
<p> The amazing man who sells this product is <%= fp.user.name %></p>
<p>
  Product Name: "<%= fp.name %>"" costs $<%= fp.price %>
</p>



